apps/examples/
apps/examples/**
notes.txt
architecture/
architecture/**
analise/
analise/**
coverage/
coverage/**
test/
test/**
scripts/
scripts/**
*.spec.ts
*.test.ts
.vscode/
.git/
.gitlab-ci.yml
jest.config.ts
tsconfig.json
tsconfig.build.json
eslint.config.mjs
pnpm-workspace.yaml
